@media (max-width:1030px) {

    /* header */
    header {
        padding-inline: 32px;
    }

    /* section1 */
    .sect1div {
        padding-inline: 66px;
    }

    /* section2 */
    .section2 {
        flex-direction: column;
        padding: 32px;
    }

    .sec2article {
        flex-direction: row;
        align-items: center;
        column-gap: 80px;
        width: 100%;
        margin-left: 32px;
        margin-top: 40px;
    }

    .sec2img {
        width: 100%;
    }

    /* section3 */
    .section3 {
        padding-inline: 32px;
    }

    /* footer */
    footer {
        display: flex;
        flex-direction: column;
        row-gap: 32px;
        padding: 40px 445px 40px 32px;
    }

    .footer_article {
        display: none;
    }
}


@media (max-width:950px) {

    /* section1 */

    .section1 {
        height: 320px;
    }

    .sec1H {
        font-size: 36px;
        line-height: 44px;
    }

    .section1H {
        font-size: 45px;
    }

    .sec1div {
        padding-inline: 85px;
    }

    /* section2 */
    .section2 {
        flex-direction: column;
        padding: 24px;
    }

    .sec2img {
        height: 320px;
    }

    .sec2article {
        flex-direction: column;
        text-align: center;
    }

    /* section3 */
    .section3 {
        flex-direction: column;
        row-gap: 20px;
    }

    .sec3p {
        width: 100%;
    }

    .sec3article {
        width: 100%;
        align-items: center;
        text-align: center;
    }


}