@media (max-width: 750px) {

    /* header */
    header{padding-inline: 24px;}
}

@media (max-width: 623px) {

    /* header */
    .header_nav{display: none;}
    .header_button{display: none;}
    .headicon{display: block;}

    /* footer */
    footer{padding: 32px 24px;
        justify-content: center;
    align-items: center;}
}